In [1]:
import requests
import pandas as pd

## Reference site for API

#### https://data.cdc.gov/Case-Surveillance/COVID-19-Case-Surveillance-Public-Use-Data-with-Ge/n8mc-b4w4

In [19]:
# pull in the api data using the requests module and assign it to 'r'
# Using Covid 19 API
r = requests.get("https://data.cdc.gov/resource/n8mc-b4w4.json")

# determine the type of data I have.
r.headers['content-type']

'application/json;charset=utf-8'

In [20]:
# I've determined that I have a json so let's pull it into a dataframe.
data= r.json()
# df= pd.DataFrame(data=data)
# df

In [23]:
# Create variable by refencing key you want to create df from.
raw_data = r.json()

In [24]:
# Create df using newly created variable
df= pd.DataFrame(data=raw_data)

In [25]:
df

,case_month,res_state,state_fips_code,res_county,county_fips_code,age_group,sex,race,ethnicity,case_positive_specimen,case_onset_interval,process,exposure_yn,current_status,symptom_status,hosp_yn,icu_yn,death_yn,underlying_conditions_yn
0,2022-06,PA,42,CARBON,42025,0 - 17 years,NA,NA,NA,0.0,0.0,Missing,Missing,Laboratory-confirmed case,Symptomatic,Unknown,Unknown,Unknown,NaN
1,2020-11,PA,42,WYOMING,42131,50 to 64 years,NA,NA,NA,0.0,0.0,Missing,Missing,Laboratory-confirmed case,Symptomatic,Unknown,Unknown,Unknown,NaN
2,2022-01,NH,33,BELKNAP,33001,0 - 17 years,Female,NA,NA,0.0,0.0,Missing,Missing,Laboratory-confirmed case,Symptomatic,No,No,Unknown,NaN
3,2022-10,OH,39,WARREN,39165,0 - 17 years,Female,NA,NA,0.0,NaN,Missing,Missing,Probable Case,Missing,Missing,Missing,Unknown,NaN
4,2021-01,GA,13,OCONEE,13219,18 to 49 years,Female,NA,NA,NaN,0.0,Missing,Missing,Laboratory-confirmed case,Symptomatic,Missing,Missing,Missing,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,2020-04,IA,19,MARSHALL,19127,50 to 64 years,Female,Missing,Hispanic/Latino,NaN,0.0,Missing,Yes,Laboratory-confirmed case,Symptomatic,No,No,NA,NaN
996,2022-01,ID,16,CANYON,16027,18 to 49 years,Male,Missing,Hispanic/Latino,0.0,NaN,Laboratory reported,Missing,Laboratory-confirmed case,Missing,Missing,Missing,Missing,NaN
997,2020-12,CO,08,DELTA,08029,18 to 49 years,Male,Missing,Hispanic/Latino,NaN,NaN,Missing,Missing,Laboratory-confirmed case,Missing,Missing,Missing,Missing,NaN
998,2021-12,NJ,34,OCEAN,34029,0 - 17 years,Female,Black,Hispanic/Latino,0.0,0.0,Missing,Missing,Laboratory-confirmed case,Symptomatic,Yes,Missing,No,NaN
999,2021-11,ID,16,ADA,16001,0 - 17 years,Female,White,Hispanic/Latino,0.0,NaN,Missing,Missing,Laboratory-confirmed case,Unknown,No,Missing,No,NaN

In [8]:
# df = df.drop(columns= ['FIPS', 'Admin2', 'Province_State', 'Recovered','Active'])

In [9]:
# df.reset_index(drop=True)

,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Combined_Key,Incident_Rate,Case_Fatality_Ratio
0,Afghanistan,2023-03-10 04:21:03,33.93911,67.709953,209451,7896,Afghanistan,538.0424508714615,3.76985547932452
1,Albania,2023-03-10 04:21:03,41.1533,20.1683,334457,3598,Albania,11621.96817012996,1.075773567304616
2,Algeria,2023-03-10 04:21:03,28.0339,1.6596,271496,6881,Algeria,619.132365905185,2.534475646050034
3,Andorra,2023-03-10 04:21:03,42.5063,1.5218,47890,165,Andorra,61981.49226687375,0.34453956984756734
4,Angola,2023-03-10 04:21:03,-11.2027,17.8739,105288,1933,Angola,320.35277020195906,1.835916723653218
...,...,...,...,...,...,...,...,...,...
4011,West Bank and Gaza,2023-03-10 04:21:03,31.9522,35.2332,703228,5708,West Bank and Gaza,13784.956960969268,0.8116855415313383
4012,Winter Olympics 2022,2023-03-10 04:21:03,39.9042,116.4074,535,0,Winter Olympics 2022,,0.0
4013,Yemen,2023-03-10 04:21:03,15.552727,48.516388,11945,2159,Yemen,40.04899354817252,18.07450816241105
4014,Zambia,2023-03-10 04:21:03,-13.133897,27.849332,343135,4057,Zambia,1866.491629984319,1.1823334839057513
4015,Zimbabwe,2023-03-10 04:21:03,-19.015438,29.154857,264276,5671,Zimbabwe,1778.0885285919792,2.1458626587355645

In [26]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 19 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   case_month                1000 non-null   object
 1   res_state                 1000 non-null   object
 2   state_fips_code           1000 non-null   object
 3   res_county                1000 non-null   object
 4   county_fips_code          1000 non-null   object
 5   age_group                 1000 non-null   object
 6   sex                       1000 non-null   object
 7   race                      1000 non-null   object
 8   ethnicity                 1000 non-null   object
 9   case_positive_specimen    482 non-null    object
 10  case_onset_interval       410 non-null    object
 11  process                   1000 non-null   object
 12  exposure_yn               1000 non-null   object
 13  current_status            1000 non-null   object
 14  symptom_status            1000 non-null   object
 15  hosp_yn                   1000 non-null   object
 16  icu_yn                    1000 non-null   object
 17  death_yn                  1000 non-null   object
 18  underlying_conditions_yn  34 non-null     object
dtypes: object(19)
memory usage: 148.6+ KB

In [11]:
df.describe()

,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Combined_Key,Incident_Rate,Case_Fatality_Ratio
count,4016,4016,4016,4016,4016,4016,4016,4016,4016
unique,201,10,3925,3915,3770,1340,4016,3920,3807
top,US,2023-03-10 04:21:03,,,0,0,Afghanistan,,0.0
freq,3279,4001,91,91,42,165,1,94,131

In [12]:
df['Confirmed'] = df['Confirmed'].astype(int)

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4016 entries, 0 to 4015
Data columns (total 9 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Country_Region       4016 non-null   object
 1   Last_Update          4016 non-null   object
 2   Lat                  4016 non-null   object
 3   Long_                4016 non-null   object
 4   Confirmed            4016 non-null   int64
 5   Deaths               4016 non-null   object
 6   Combined_Key         4016 non-null   object
 7   Incident_Rate        4016 non-null   object
 8   Case_Fatality_Ratio  4016 non-null   object
dtypes: int64(1), object(8)
memory usage: 282.5+ KB

In [14]:
df['Confirmed'].sum()

676570149

In [15]:
df['Confirmed'].mean().round(2)

168468.66

In [16]:
data_check = df[df.Confirmed > df.Confirmed.mean()]
data_check

,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Combined_Key,Incident_Rate,Case_Fatality_Ratio
0,Afghanistan,2023-03-10 04:21:03,33.93911,67.709953,209451,7896,Afghanistan,538.0424508714615,3.76985547932452
1,Albania,2023-03-10 04:21:03,41.1533,20.1683,334457,3598,Albania,11621.96817012996,1.075773567304616
2,Algeria,2023-03-10 04:21:03,28.0339,1.6596,271496,6881,Algeria,619.132365905185,2.534475646050034
7,Argentina,2023-03-10 04:21:03,-38.4161,-63.6167,10044957,130472,Argentina,22225.43269916568,1.2988806223859395
8,Armenia,2023-03-10 04:21:03,40.0691,45.0382,447308,8727,Armenia,15095.264160710898,1.9510046768669462
...,...,...,...,...,...,...,...,...,...
4009,Venezuela,2023-03-10 04:21:03,6.4238,-66.5897,552162,5854,Venezuela,1941.774886804352,1.0601961018686545
4010,Vietnam,2023-03-10 04:21:03,14.058324,108.277199,11526994,43186,Vietnam,11842.163348525424,0.3746510148265888
4011,West Bank and Gaza,2023-03-10 04:21:03,31.9522,35.2332,703228,5708,West Bank and Gaza,13784.956960969268,0.8116855415313383
4014,Zambia,2023-03-10 04:21:03,-13.133897,27.849332,343135,4057,Zambia,1866.491629984319,1.1823334839057513
4015,Zimbabwe,2023-03-10 04:21:03,-19.015438,29.154857,264276,5671,Zimbabwe,1778.0885285919792,2.1458626587355645

In [17]:
# Print only 2nd and 3rd columns
only_2_cols = df.iloc[:, 1:3]
only_2_cols.head(5)

           Last_Update       Lat
0  2023-03-10 04:21:03  33.93911
1  2023-03-10 04:21:03   41.1533
2  2023-03-10 04:21:03   28.0339
3  2023-03-10 04:21:03   42.5063
4  2023-03-10 04:21:03  -11.2027

In [18]:
# Print first 4 rows
only_4_rows = df.iloc[:4]
only_4_rows.head(5)

,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Combined_Key,Incident_Rate,Case_Fatality_Ratio
0,Afghanistan,2023-03-10 04:21:03,33.93911,67.709953,209451,7896,Afghanistan,538.0424508714615,3.76985547932452
1,Albania,2023-03-10 04:21:03,41.1533,20.1683,334457,3598,Albania,11621.96817012996,1.075773567304616
2,Algeria,2023-03-10 04:21:03,28.0339,1.6596,271496,6881,Algeria,619.132365905185,2.534475646050034
3,Andorra,2023-03-10 04:21:03,42.5063,1.5218,47890,165,Andorra,61981.49226687375,0.34453956984756734